<h2>My Orders</h2>

<% @orders.each do |order| %>
  <p><%=order.product.name%> - $<%=order.product.unit_price%> - <%=order.created_at.strftime("%d/%m/%Y")%> </p>
<%end%>
<%=link_to "Back", root_path%>
