<p class="text-left">
  <strong>Products</strong>
  <br>
  <% products = Product.where(user_id: user) %>
  <%products.each do |product|%>
    <%=link_to product.name.capitalize, product_path(product)%>
  <%end%>
</p>
